@font-face {
    font-family: 'kalam';
    src: url('../polices/Kalam/Kalam-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'devonshire';
    src: url('../polices/Devonshire/Devonshire-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'croissantone';
    src: url('../polices/Croissant_One/CroissantOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dancingscript';
    src: url('../polices/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kaushanscript';
    src: url('../polices/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeprint';
    src: url('../polices/segoe-print/segoepr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cantata';
    src: url('../polices/Cantata_One/CantataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}